<% provide(:title, "Home") %>
<body>
  <ul class="ul1">
    <li class="logo li1"><%= link_to "ProjectPro", "#"%></li>
    <li class="li1"><a href="default.asp">Home</a></li>
    <li class="li1"><a href="news.asp">News</a></li>
    <li class="li1"><a href="contact.asp">Contact</a></li>
    <li class="li1"><a href="about.asp">About</a></li>
  </ul>
</body>
